__pycache__/
/src/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints/

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.vscode/